[data-md-color-scheme="youtube"] {
    /* Primary color shades */
    --md-primary-fg-color:        #43AEC5;
    --md-primary-fg-color--light: #9fd4e0;
    --md-primary-fg-color--dark:  #182744;

    /* Accent color shades */
    --md-accent-fg-color: #43AEC5;  }
  
  :root > * {
  
    /* Code block color shades */
    --md-code-bg-color: #ffffff;
    --md-code-fg-color: #2c2626;

    /* Footer */
    --md-footer-bg-color: #182744;
    --md-footer-bg-color--dark: #182744;
    --md-footer-fg-color: #43AEC5;
    --md-footer-fg-color--light: #b9e7f2;
    --md-footer-fg-color--lighter: #ffffff;
  }